<div class="container" ng-app="mgr">
        <div class='rows' ng-controller="timelineCtrl" ng-show="me">
        

        <div class="col-xs-4">
            <div id="name-group" class="form-group">
                <textarea class="form-control msg_box" id="msg_box" ng-model='msg_text' ng-keypress="send_msg($event)" placeholder="Type message and press enter"></textarea>
                <input type='text' style='display:none' ng-model='selected_id' />
            </div>

            <div ng-repeat="message in messages">  <message data="message"></message>  </div>
            
        </div>
        
        
        

      </div>   
        
        
        <div class='rows' ng-controller="loginCtrl" ng-hide="me">
                <form action="" class="login-page" name="login" novalidate>
            <div >
                <label for="">Username:</label>
                <input type="text" class="form-control" ng-model="user.username" required>
            </div>
            <div class="input-full">
                <label for="">Password:</label>
                <input type="password" class="form-control" ng-model="user.password" required/>    
            </div>
            <div class="input-full">
                <input type="button" value="Login" class="btn btn-primary pull-right" ng-click="doLogin()">
            </div>


        </form>
            </div>
    </div>